In [ ]:
import pandas as pd

data = {
    'Name': ['Сноу', 'Рекс', 'Макс', 'Луна', 'Джек', 'Мило', 'Бэйли', 'Лола', 'Тедди', 'Макс',
             'Бентли', 'Джесси', 'Чарли', 'Максимус', 'Оливер', 'Чарли', 'Луи', 'Белль', 'Сади', 'Сэнди'],
    'Breed': ['Лабрадор', 'Бульдог', 'Далматин', 'Ши-тцу', 'Йоркширский терьер', 'Лабрадор', 'Чихуахуа', 'Шарпей', 'Бассет-хаунд', 'Померанский',
              'Золотистый ретривер', 'Бордер-колли', 'Боксер', 'Ротвейлер', 'Доберман', 'Шиба-ину', 'Бостон-терьер', 'Френч бульдог', 'Хаски', 'Акита'],
    'Color': ['Шоколадный', 'Палевый', 'Черно-белый', 'Белый', 'Серый', 'Абрикосовый', 'Черный', 'Коричневый', 'Трехцветный', 'Оранжевый',
              'Золотистый', 'Черно-белый', 'Тигровый', 'Черный и рыжий', 'Черный и коричневый', 'Трехцветный', 'Черно-белый', 'Белый', 'Серо-белый', 'Коричневый'],
    'Height (cm)': [60, 40, 55, 25, 20, 58, 20, 40, 30, 25, 60, 50, 55, 70, 45, 30, 25, 35, 45, 60],
    'Weight (kg)': [30, 25, 20, 5, 3, 27, 3, 15, 10, 4, 25, 18, 30, 40, 12, 6, 5, 8, 12, 30],
    'Date of Birth': ['2015-02-10', '2018-06-05', '2017-11-20', '2019-04-15', '2020-09-30',
                      '2016-03-25', '2019-08-12', '2018-01-03', '2020-05-19', '2017-09-28',
                      '2016-07-14', '2019-02-08', '2017-04-22', '2015-09-07', '2016-12-30',
                      '2018-11-17', '2020-03-08', '2019-10-12', '2016-06-23', '2015-08-02']
}

dogs = pd.DataFrame(data)

print(dogs)

### Обзор датафрейма

In [6]:
dogs.head(7)

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12

In [8]:
dogs.tail(2)

     Name  Breed       Color  Height (cm)  Weight (kg) Date of Birth
18   Сади  Хаски  Серо-белый           45           12    2016-06-23
19  Сэнди  Акита  Коричневый           60           30    2015-08-02

In [9]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           20 non-null     object
 1   Breed          20 non-null     object
 2   Color          20 non-null     object
 3   Height (cm)    20 non-null     int64
 4   Weight (kg)    20 non-null     int64
 5   Date of Birth  20 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.1+ KB

In [10]:
dogs.shape

(20, 6)

In [11]:
dogs.values

array([['Сноу', 'Лабрадор', 'Шоколадный', 60, 30, '2015-02-10'],
       ['Рекс', 'Бульдог', 'Палевый', 40, 25, '2018-06-05'],
       ['Макс', 'Далматин', 'Черно-белый', 55, 20, '2017-11-20'],
       ['Луна', 'Ши-тцу', 'Белый', 25, 5, '2019-04-15'],
       ['Джек', 'Йоркширский терьер', 'Серый', 20, 3, '2020-09-30'],
       ['Мило', 'Лабрадор', 'Абрикосовый', 58, 27, '2016-03-25'],
       ['Бэйли', 'Чихуахуа', 'Черный', 20, 3, '2019-08-12'],
       ['Лола', 'Шарпей', 'Коричневый', 40, 15, '2018-01-03'],
       ['Тедди', 'Бассет-хаунд', 'Трехцветный', 30, 10, '2020-05-19'],
       ['Макс', 'Померанский', 'Оранжевый', 25, 4, '2017-09-28'],
       ['Бентли', 'Золотистый ретривер', 'Золотистый', 60, 25,
        '2016-07-14'],
       ['Джесси', 'Бордер-колли', 'Черно-белый', 50, 18, '2019-02-08'],
       ['Чарли', 'Боксер', 'Тигровый', 55, 30, '2017-04-22'],
       ['Максимус', 'Ротвейлер', 'Черный и рыжий', 70, 40, '2015-09-07'],
       ['Оливер', 'Доберман', 'Черный и коричневый', 45, 12,
        '2016-12-30'],
       ['Чарли', 'Шиба-ину', 'Трехцветный', 30, 6, '2018-11-17'],
       ['Луи', 'Бостон-терьер', 'Черно-белый', 25, 5, '2020-03-08'],
       ['Белль', 'Френч бульдог', 'Белый', 35, 8, '2019-10-12'],
       ['Сади', 'Хаски', 'Серо-белый', 45, 12, '2016-06-23'],
       ['Сэнди', 'Акита', 'Коричневый', 60, 30, '2015-08-02']],
      dtype=object)

In [12]:
dogs.columns

Index(['Name', 'Breed', 'Color', 'Height (cm)', 'Weight (kg)',
       'Date of Birth'],
      dtype='object')

In [ ]:
dogs.index

RangeIndex(start=0, stop=20, step=1)

In [14]:
dogs.describe()

       Height (cm)  Weight (kg)
count    20.000000    20.000000
mean     42.400000    16.400000
std      15.574608    11.287627
min      20.000000     3.000000
25%      28.750000     5.750000
50%      42.500000    13.500000
75%      55.750000    25.500000
max      70.000000    40.000000

### Сортировка и выборка

In [15]:
dogs.sort_values('Weight (kg)')

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07

In [16]:
dogs.sort_values('Weight (kg)', ascending=False)

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12

In [18]:
dogs.sort_values(['Weight (kg)', 'Height (cm)'])

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07

In [19]:
dogs.sort_values(['Weight (kg)', 'Height (cm)'], ascending=[True, False])

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07

In [20]:
dogs['Name']

0         Сноу
1         Рекс
2         Макс
3         Луна
4         Джек
5         Мило
6        Бэйли
7         Лола
8        Тедди
9         Макс
10      Бентли
11      Джесси
12       Чарли
13    Максимус
14      Оливер
15       Чарли
16         Луи
17       Белль
18        Сади
19       Сэнди
Name: Name, dtype: object

In [22]:
dogs[['Name', 'Height (cm)']]

        Name  Height (cm)
0       Сноу           60
1       Рекс           40
2       Макс           55
3       Луна           25
4       Джек           20
5       Мило           58
6      Бэйли           20
7       Лола           40
8      Тедди           30
9       Макс           25
10    Бентли           60
11    Джесси           50
12     Чарли           55
13  Максимус           70
14    Оливер           45
15     Чарли           30
16       Луи           25
17     Белль           35
18      Сади           45
19     Сэнди           60

In [23]:
dogs[dogs['Height (cm)'] > 50]

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07
19,Сэнди,Акита,Коричневый,60,30,2015-08-02

In [25]:
dogs[dogs['Breed'] == 'Лабрадор']

   Name     Breed        Color  Height (cm)  Weight (kg) Date of Birth
0  Сноу  Лабрадор   Шоколадный           60           30    2015-02-10
5  Мило  Лабрадор  Абрикосовый           58           27    2016-03-25

In [26]:
dogs[dogs['Date of Birth'] > '2019-01-01']

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
17,Белль,Френч бульдог,Белый,35,8,2019-10-12

In [33]:
is_small = dogs['Height (cm)'] < 40
is_black = dogs['Color'] == 'Черный'
dogs[is_small | is_black]

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
17,Белль,Френч бульдог,Белый,35,8,2019-10-12

In [34]:
dogs[is_small & is_black]

    Name     Breed   Color  Height (cm)  Weight (kg) Date of Birth
6  Бэйли  Чихуахуа  Черный           20            3    2019-08-12

### Создание новых столбцов

In [35]:
dogs['Height (m)'] = dogs['Height (cm)']/100
dogs.head(3)

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m)
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60
1,Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40
2,Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55

In [36]:
dogs.shape

(20, 7)

In [37]:
dogs['BMI'] = dogs['Weight (kg)'] / dogs['Height (m)']**2
dogs.head(3)

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
1,Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
2,Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702

In [38]:
dogs.describe()

       Height (cm)  Weight (kg)  Height (m)         BMI
count    20.000000    20.000000   20.000000   20.000000
mean     42.400000    16.400000    0.424000   81.044852
std      15.574608    11.287627    0.155746   22.088353
min      20.000000     3.000000    0.200000   59.259259
25%      28.750000     5.750000    0.287500   66.528926
50%      42.500000    13.500000    0.425000   77.500000
75%      55.750000    25.500000    0.557500   83.333333
max      70.000000    40.000000    0.700000  156.250000

In [40]:
print(dogs['Height (cm)'].mean())

42.4

In [41]:
print(dogs['Height (cm)'].median())

42.5

In [42]:
print(dogs['Height (cm)'].mode())

0    25
1    60
Name: Height (cm), dtype: int64

In [43]:
print(dogs['Height (cm)'].min())

20

In [44]:
print(dogs['Height (cm)'].max())

70

In [47]:
print(dogs['Height (cm)'].quantile(0.23))

26.85

In [48]:
dogs['Date of Birth'].max()

'2020-09-30'

In [49]:
def pct30(column):
    return column.quantile(0.3)

In [50]:
def pct40(column):
    return column.quantile(0.4)

In [51]:
dogs['Weight (kg)'].agg(pct30)

np.float64(7.4)

In [52]:
dogs[['Weight (kg)', 'Height (cm)']].agg(pct30)

Weight (kg)     7.4
Height (cm)    30.0
dtype: float64

In [53]:
dogs[['Weight (kg)', 'Height (cm)']].agg([pct30, pct40])

       Weight (kg)  Height (cm)
pct30          7.4         30.0
pct40         11.2         38.0

In [58]:
pct30([dogs['Weight (kg)'], dogs['Height (cm)']])

AttributeError: 'list' object has no attribute 'quantile'

In [59]:
dogs['Weight (kg)'].cumsum()

0      30
1      55
2      75
3      80
4      83
5     110
6     113
7     128
8     138
9     142
10    167
11    185
12    215
13    255
14    267
15    273
16    278
17    286
18    298
19    328
Name: Weight (kg), dtype: int64

In [60]:
import random
import datetime

vet_visits = {
    'Name': [random.choice(data['Name']) for _ in range(75)],
    'Breed': [random.choice(data['Breed']) for _ in range(75)],
    'Color': [random.choice(data['Color']) for _ in range(75)],
    'Height (cm)': [random.randint(20, 70) for _ in range(75)],
    'Weight (kg)': [random.randint(3, 40) for _ in range(75)],
    'Date of Birth': [f"{random.randint(2015, 2022)}-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}" for _ in range(75)],
    'Visit Date': [datetime.date(2023, random.randint(1, 12), random.randint(1, 28)) for _ in range(75)]
}


vet_visits = pd.DataFrame(vet_visits)

vet_visits = vet_visits[["Visit Date", "Name", "Breed", "Weight (kg)"]]

print(vet_visits)

    Visit Date      Name                Breed  Weight (kg)
0   2023-07-14  Максимус             Далматин           28
1   2023-06-10      Макс            Ротвейлер           25
2   2023-02-08       Луи             Шиба-ину           24
3   2023-02-19    Оливер             Доберман            9
4   2023-04-19    Бентли  Золотистый ретривер           19
..         ...       ...                  ...          ...
70  2023-11-24  Максимус             Шиба-ину           38
71  2023-12-18     Сэнди            Ротвейлер           40
72  2023-06-23      Луна             Доберман            6
73  2023-07-22      Лола             Далматин           20
74  2023-08-22      Мило   Йоркширский терьер           16

[75 rows x 4 columns]

In [61]:
vet_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Visit Date   75 non-null     object
 1   Name         75 non-null     object
 2   Breed        75 non-null     object
 3   Weight (kg)  75 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.5+ KB

In [62]:
vet_visits.drop_duplicates(subset='Name')

    Visit Date      Name                Breed  Weight (kg)
0   2023-07-14  Максимус             Далматин           28
1   2023-06-10      Макс            Ротвейлер           25
2   2023-02-08       Луи             Шиба-ину           24
3   2023-02-19    Оливер             Доберман            9
4   2023-04-19    Бентли  Золотистый ретривер           19
5   2023-10-27      Сноу         Бордер-колли           24
6   2023-08-13    Джесси             Доберман           25
7   2023-07-17      Луна   Йоркширский терьер           28
8   2023-11-09      Джек  Золотистый ретривер           36
12  2023-09-16      Сади             Лабрадор           22
13  2023-03-05     Белль             Чихуахуа           24
17  2023-11-27      Лола                Хаски           35
22  2023-08-04     Чарли             Чихуахуа           25
25  2023-06-04     Тедди                Акита           26
26  2023-12-06     Бэйли             Шиба-ину           40
37  2023-01-24     Сэнди        Бостон-терьер           13
47  2023-10-19      Мило         Бордер-колли           36

In [63]:
vet_visits.drop_duplicates(subset=['Name', 'Breed'])

    Visit Date      Name                Breed  Weight (kg)
0   2023-07-14  Максимус             Далматин           28
1   2023-06-10      Макс            Ротвейлер           25
2   2023-02-08       Луи             Шиба-ину           24
3   2023-02-19    Оливер             Доберман            9
4   2023-04-19    Бентли  Золотистый ретривер           19
..         ...       ...                  ...          ...
70  2023-11-24  Максимус             Шиба-ину           38
71  2023-12-18     Сэнди            Ротвейлер           40
72  2023-06-23      Луна             Доберман            6
73  2023-07-22      Лола             Далматин           20
74  2023-08-22      Мило   Йоркширский терьер           16

[69 rows x 4 columns]

In [64]:
unique_dogs = vet_visits.drop_duplicates(subset=['Name', 'Breed'])

In [65]:
unique_dogs

    Visit Date      Name                Breed  Weight (kg)
0   2023-07-14  Максимус             Далматин           28
1   2023-06-10      Макс            Ротвейлер           25
2   2023-02-08       Луи             Шиба-ину           24
3   2023-02-19    Оливер             Доберман            9
4   2023-04-19    Бентли  Золотистый ретривер           19
..         ...       ...                  ...          ...
70  2023-11-24  Максимус             Шиба-ину           38
71  2023-12-18     Сэнди            Ротвейлер           40
72  2023-06-23      Луна             Доберман            6
73  2023-07-22      Лола             Далматин           20
74  2023-08-22      Мило   Йоркширский терьер           16

[69 rows x 4 columns]

In [66]:
unique_dogs['Breed'].value_counts()

Breed
Лабрадор               7
Бордер-колли           6
Ротвейлер              5
Чихуахуа               5
Бостон-терьер          5
Шиба-ину               4
Доберман               4
Золотистый ретривер    4
Йоркширский терьер     4
Акита                  4
Френч бульдог          4
Померанский            3
Ши-тцу                 3
Хаски                  3
Бассет-хаунд           2
Далматин               2
Боксер                 2
Бульдог                1
Шарпей                 1
Name: count, dtype: int64

In [67]:
unique_dogs['Breed'].value_counts(normalize=True)

Breed
Лабрадор               0.101449
Бордер-колли           0.086957
Ротвейлер              0.072464
Чихуахуа               0.072464
Бостон-терьер          0.072464
Шиба-ину               0.057971
Доберман               0.057971
Золотистый ретривер    0.057971
Йоркширский терьер     0.057971
Акита                  0.057971
Френч бульдог          0.057971
Померанский            0.043478
Ши-тцу                 0.043478
Хаски                  0.043478
Бассет-хаунд           0.028986
Далматин               0.028986
Боксер                 0.028986
Бульдог                0.014493
Шарпей                 0.014493
Name: proportion, dtype: float64

In [68]:
unique_dogs['Breed'].value_counts(normalize=True).sort_index()

Breed
Акита                  0.057971
Бассет-хаунд           0.028986
Боксер                 0.028986
Бордер-колли           0.086957
Бостон-терьер          0.072464
Бульдог                0.014493
Далматин               0.028986
Доберман               0.057971
Золотистый ретривер    0.057971
Йоркширский терьер     0.057971
Лабрадор               0.101449
Померанский            0.043478
Ротвейлер              0.072464
Френч бульдог          0.057971
Хаски                  0.043478
Чихуахуа               0.072464
Шарпей                 0.014493
Ши-тцу                 0.043478
Шиба-ину               0.057971
Name: proportion, dtype: float64

### Сводная статистика (группировка)

In [70]:
dogs[dogs['Color'] == 'Черный']['Weight (kg)'].mean()

np.float64(3.0)

In [71]:
dogs[dogs['Color'] == 'Белый']['Weight (kg)'].mean()

np.float64(6.5)

In [72]:
dogs.groupby('Color')['Weight (kg)'].mean()

Color
Абрикосовый            27.000000
Белый                   6.500000
Золотистый             25.000000
Коричневый             22.500000
Оранжевый               4.000000
Палевый                25.000000
Серо-белый             12.000000
Серый                   3.000000
Тигровый               30.000000
Трехцветный             8.000000
Черно-белый            14.333333
Черный                  3.000000
Черный и коричневый    12.000000
Черный и рыжий         40.000000
Шоколадный             30.000000
Name: Weight (kg), dtype: float64

In [74]:
dogs.groupby('Color')['Weight (kg)'].agg([min, max, sum])

/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/3379490960.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  dogs.groupby('Color')['Weight (kg)'].agg([min, max, sum])
/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/3379490960.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  dogs.groupby('Color')['Weight (kg)'].agg([min, max, sum])
/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/3379490960.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dogs.groupby('Color')['Weight (kg)'].agg([min, max, sum])

                     min  max  sum
Color
Абрикосовый           27   27   27
Белый                  5    8   13
Золотистый            25   25   25
Коричневый            15   30   45
Оранжевый              4    4    4
Палевый               25   25   25
Серо-белый            12   12   12
Серый                  3    3    3
Тигровый              30   30   30
Трехцветный            6   10   16
Черно-белый            5   20   43
Черный                 3    3    3
Черный и коричневый   12   12   12
Черный и рыжий        40   40   40
Шоколадный            30   30   30

In [75]:
dogs.pivot_table(values='Weight (kg)', index='Color')

                     Weight (kg)
Color
Абрикосовый            27.000000
Белый                   6.500000
Золотистый             25.000000
Коричневый             22.500000
Оранжевый               4.000000
Палевый                25.000000
Серо-белый             12.000000
Серый                   3.000000
Тигровый               30.000000
Трехцветный             8.000000
Черно-белый            14.333333
Черный                  3.000000
Черный и коричневый    12.000000
Черный и рыжий         40.000000
Шоколадный             30.000000

In [76]:
import numpy as np
dogs.pivot_table(values='Weight (kg)', index='Color', aggfunc=[np.median, np.mean])

/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/2829954715.py:2: FutureWarning: The provided callable <function median at 0x10afd7a60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(values='Weight (kg)', index='Color', aggfunc=[np.median, np.mean])
/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/2829954715.py:2: FutureWarning: The provided callable <function mean at 0x10aebc7c0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs.pivot_table(values='Weight (kg)', index='Color', aggfunc=[np.median, np.mean])

                         median        mean
                    Weight (kg) Weight (kg)
Color
Абрикосовый                27.0   27.000000
Белый                       6.5    6.500000
Золотистый                 25.0   25.000000
Коричневый                 22.5   22.500000
Оранжевый                   4.0    4.000000
Палевый                    25.0   25.000000
Серо-белый                 12.0   12.000000
Серый                       3.0    3.000000
Тигровый                   30.0   30.000000
Трехцветный                 8.0    8.000000
Черно-белый                18.0   14.333333
Черный                      3.0    3.000000
Черный и коричневый        12.0   12.000000
Черный и рыжий             40.0   40.000000
Шоколадный                 30.0   30.000000

In [79]:
pivot = dogs.pivot_table(values='Weight (kg)', index='Color', columns='Breed')

In [81]:
pivot['Боксер']

Color
Абрикосовый             NaN
Белый                   NaN
Золотистый              NaN
Коричневый              NaN
Оранжевый               NaN
Палевый                 NaN
Серо-белый              NaN
Серый                   NaN
Тигровый               30.0
Трехцветный             NaN
Черно-белый             NaN
Черный                  NaN
Черный и коричневый     NaN
Черный и рыжий          NaN
Шоколадный              NaN
Name: Боксер, dtype: float64

In [83]:
pivot_2 = dogs.pivot_table(values='Weight (kg)', index='Color', aggfunc=[np.median, np.mean])

/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/2476725629.py:1: FutureWarning: The provided callable <function median at 0x10afd7a60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  pivot_2 = dogs.pivot_table(values='Weight (kg)', index='Color', aggfunc=[np.median, np.mean])
/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_99624/2476725629.py:1: FutureWarning: The provided callable <function mean at 0x10aebc7c0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_2 = dogs.pivot_table(values='Weight (kg)', index='Color', aggfunc=[np.median, np.mean])

In [84]:
pivot_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Абрикосовый to Шоколадный
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (median, Weight (kg))  15 non-null     float64
 1   (mean, Weight (kg))    15 non-null     float64
dtypes: float64(2)
memory usage: 360.0+ bytes

In [87]:
pivot_2

                         median        mean
                    Weight (kg) Weight (kg)
Color
Абрикосовый                27.0   27.000000
Белый                       6.5    6.500000
Золотистый                 25.0   25.000000
Коричневый                 22.5   22.500000
Оранжевый                   4.0    4.000000
Палевый                    25.0   25.000000
Серо-белый                 12.0   12.000000
Серый                       3.0    3.000000
Тигровый                   30.0   30.000000
Трехцветный                 8.0    8.000000
Черно-белый                18.0   14.333333
Черный                      3.0    3.000000
Черный и коричневый        12.0   12.000000
Черный и рыжий             40.0   40.000000
Шоколадный                 30.0   30.000000

In [91]:
pivot_2[('median', 'Weight (kg)')]

Color
Абрикосовый            27.0
Белый                   6.5
Золотистый             25.0
Коричневый             22.5
Оранжевый               4.0
Палевый                25.0
Серо-белый             12.0
Серый                   3.0
Тигровый               30.0
Трехцветный             8.0
Черно-белый            18.0
Черный                  3.0
Черный и коричневый    12.0
Черный и рыжий         40.0
Шоколадный             30.0
Name: (median, Weight (kg)), dtype: float64

In [93]:
dogs.pivot_table(values='Weight (kg)', index='Color', columns='Breed', fill_value=0)

Breed,Акита,Бассет-хаунд,Боксер,Бордер-колли,Бостон-терьер,Бульдог,Далматин,Доберман,Золотистый ретривер,Йоркширский терьер,Лабрадор,Померанский,Ротвейлер,Френч бульдог,Хаски,Чихуахуа,Шарпей,Ши-тцу,Шиба-ину
Color,,,,,,,,,,,,,,,,,,,
Абрикосовый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Белый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,5.0,0.0
Золотистый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Коричневый,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
Оранжевый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Палевый,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Серо-белый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0
Серый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Тигровый,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Трехцветный,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
Черно-белый,0.0,0.0,0.0,18.0,5.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Черный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
Черный и коричневый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Черный и рыжий,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0
Шоколадный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
dogs

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
1,Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
2,Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702
3,Луна,Ши-тцу,Белый,25,5,2019-04-15,0.25,80.000000
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30,0.20,75.000000
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25,0.58,80.261593
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12,0.20,75.000000
7,Лола,Шарпей,Коричневый,40,15,2018-01-03,0.40,93.750000
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19,0.30,111.111111
9,Макс,Померанский,Оранжевый,25,4,2017-09-28,0.25,64.000000
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14,0.60,69.444444
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08,0.50,72.000000
12,Чарли,Боксер,Тигровый,55,30,2017-04-22,0.55,99.173554
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07,0.70,81.632653
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30,0.45,59.259259
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17,0.30,66.666667
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08,0.25,80.000000
17,Белль,Френч бульдог,Белый,35,8,2019-10-12,0.35,65.306122
18,Сади,Хаски,Серо-белый,45,12,2016-06-23,0.45,59.259259
19,Сэнди,Акита,Коричневый,60,30,2015-08-02,0.60,83.333333

In [101]:
dogs_ind = dogs.set_index('Name')

In [96]:
dogs_ind

,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
Name,,,,,,,
Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702
Луна,Ши-тцу,Белый,25,5,2019-04-15,0.25,80.000000
Джек,Йоркширский терьер,Серый,20,3,2020-09-30,0.20,75.000000
Мило,Лабрадор,Абрикосовый,58,27,2016-03-25,0.58,80.261593
Бэйли,Чихуахуа,Черный,20,3,2019-08-12,0.20,75.000000
Лола,Шарпей,Коричневый,40,15,2018-01-03,0.40,93.750000
Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19,0.30,111.111111
Макс,Померанский,Оранжевый,25,4,2017-09-28,0.25,64.000000
Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14,0.60,69.444444
Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08,0.50,72.000000
Чарли,Боксер,Тигровый,55,30,2017-04-22,0.55,99.173554
Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07,0.70,81.632653
Оливер,Доберман,Черный и коричневый,45,12,2016-12-30,0.45,59.259259
Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17,0.30,66.666667
Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08,0.25,80.000000
Белль,Френч бульдог,Белый,35,8,2019-10-12,0.35,65.306122
Сади,Хаски,Серо-белый,45,12,2016-06-23,0.45,59.259259
Сэнди,Акита,Коричневый,60,30,2015-08-02,0.60,83.333333

In [97]:
dogs_ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Сноу to Сэнди
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Breed          20 non-null     object
 1   Color          20 non-null     object
 2   Height (cm)    20 non-null     int64
 3   Weight (kg)    20 non-null     int64
 4   Date of Birth  20 non-null     object
 5   Height (m)     20 non-null     float64
 6   BMI            20 non-null     float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.2+ KB

In [98]:
dogs_ind.reset_index()

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
1,Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
2,Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702
3,Луна,Ши-тцу,Белый,25,5,2019-04-15,0.25,80.000000
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30,0.20,75.000000
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25,0.58,80.261593
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12,0.20,75.000000
7,Лола,Шарпей,Коричневый,40,15,2018-01-03,0.40,93.750000
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19,0.30,111.111111
9,Макс,Померанский,Оранжевый,25,4,2017-09-28,0.25,64.000000
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14,0.60,69.444444
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08,0.50,72.000000
12,Чарли,Боксер,Тигровый,55,30,2017-04-22,0.55,99.173554
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07,0.70,81.632653
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30,0.45,59.259259
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17,0.30,66.666667
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08,0.25,80.000000
17,Белль,Френч бульдог,Белый,35,8,2019-10-12,0.35,65.306122
18,Сади,Хаски,Серо-белый,45,12,2016-06-23,0.45,59.259259
19,Сэнди,Акита,Коричневый,60,30,2015-08-02,0.60,83.333333

In [99]:
dogs_ind.reset_index(drop=True)

,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
0,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
1,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
2,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702
3,Ши-тцу,Белый,25,5,2019-04-15,0.25,80.000000
4,Йоркширский терьер,Серый,20,3,2020-09-30,0.20,75.000000
5,Лабрадор,Абрикосовый,58,27,2016-03-25,0.58,80.261593
6,Чихуахуа,Черный,20,3,2019-08-12,0.20,75.000000
7,Шарпей,Коричневый,40,15,2018-01-03,0.40,93.750000
8,Бассет-хаунд,Трехцветный,30,10,2020-05-19,0.30,111.111111
9,Померанский,Оранжевый,25,4,2017-09-28,0.25,64.000000
10,Золотистый ретривер,Золотистый,60,25,2016-07-14,0.60,69.444444
11,Бордер-колли,Черно-белый,50,18,2019-02-08,0.50,72.000000
12,Боксер,Тигровый,55,30,2017-04-22,0.55,99.173554
13,Ротвейлер,Черный и рыжий,70,40,2015-09-07,0.70,81.632653
14,Доберман,Черный и коричневый,45,12,2016-12-30,0.45,59.259259
15,Шиба-ину,Трехцветный,30,6,2018-11-17,0.30,66.666667
16,Бостон-терьер,Черно-белый,25,5,2020-03-08,0.25,80.000000
17,Френч бульдог,Белый,35,8,2019-10-12,0.35,65.306122
18,Хаски,Серо-белый,45,12,2016-06-23,0.45,59.259259
19,Акита,Коричневый,60,30,2015-08-02,0.60,83.333333

In [105]:
dogs_ind = dogs.set_index('Name')

In [106]:
dogs_ind

,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
Name,,,,,,,
Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702
Луна,Ши-тцу,Белый,25,5,2019-04-15,0.25,80.000000
Джек,Йоркширский терьер,Серый,20,3,2020-09-30,0.20,75.000000
Мило,Лабрадор,Абрикосовый,58,27,2016-03-25,0.58,80.261593
Бэйли,Чихуахуа,Черный,20,3,2019-08-12,0.20,75.000000
Лола,Шарпей,Коричневый,40,15,2018-01-03,0.40,93.750000
Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19,0.30,111.111111
Макс,Померанский,Оранжевый,25,4,2017-09-28,0.25,64.000000
Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14,0.60,69.444444
Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08,0.50,72.000000
Чарли,Боксер,Тигровый,55,30,2017-04-22,0.55,99.173554
Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07,0.70,81.632653
Оливер,Доберман,Черный и коричневый,45,12,2016-12-30,0.45,59.259259
Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17,0.30,66.666667
Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08,0.25,80.000000
Белль,Френч бульдог,Белый,35,8,2019-10-12,0.35,65.306122
Сади,Хаски,Серо-белый,45,12,2016-06-23,0.45,59.259259
Сэнди,Акита,Коричневый,60,30,2015-08-02,0.60,83.333333

In [108]:
dogs_ind.loc['Луи']

Breed            Бостон-терьер
Color              Черно-белый
Height (cm)                 25
Weight (kg)                  5
Date of Birth       2020-03-08
Height (m)                0.25
BMI                       80.0
Name: Луи, dtype: object

In [109]:
dogs_ind.loc[['Луи']]

,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
Name,,,,,,,
Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08,0.25,80.0